    <div class="overflow-x-auto w-full">
        
        <table class="min-w-full bg-gray-800 rounded shadow overflow-hidden">
            <tr class="bg-gray-700">
                <th class="px-4 py-2 text-left text-sm">Nombre superheroe</th>
                <th class="px-4 py-2 text-left text-sm">Nombre real</th>
                <th class="px-4 py-2 text-left">Edad</th>
                <th class="px-4 py-2 text-left text-sm">Planeta de origen</th>
                <th class="px-4 py-2 text-left">Debilidad</th>
                <th class="px-4 py-2 text-left">Poderes</th>
                <th class="px-4 py-2 text-left">Aliados</th>
                <th class="px-4 py-2 text-left">Enemigos</th>
                <th class="px-4 py-2 text-left">Creador</th>
                <th class="px-4 py-2 text-left">-</th>
                <th class="px-4 py-2 text-left">-</th>
            </tr>
        
            <% superheroes.forEach(hero => { %>
            <tr class="border-b border-gray-700 hover:bg-gray-700"></tr>
                <td class="px-4 py-2 text-xs"><%= hero.nombreSuperheroe %></td>
                <td class="px-4 py-2 text-xs"><%= hero.nombreReal %></td>
                <td class="px-4 py-2 text-xs"><%= hero.edad %></td>
                <td class="px-4 py-2 text-xs"><%= hero.planetaOrigen %></td>
                <td class="px-4 py-2 text-xs"><%= hero.debilidad %></td>
                <td class="px-4 py-2 text-xs"><%= hero.poderes %></td>
                <td class="px-4 py-2 text-xs"><%= hero.aliados %></td>
                <td class="px-4 py-2 text-xs"><%= hero.enemigos %></td>
                <td class="px-4 py-2 text-xs"><%= hero.creador %></td>
                <td class="px-4 py-2 text-xs">
                    <form action="/heroes/<%= hero._id %>/editar?_method=GET" method="POST">
                        <button type="submit" class="bg-gray-600 hover:bg-gray-500 text-white font-semibold py-1 px-2 rounded">Editar</button>
                    </form>
                </td>
                <td class="px-4 py-2 text-xs">
                    <form action="/heroes/<%= hero._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="bg-red-700 hover:bg-red-600 text-white font-semibold py-1 px-2 rounded" onclick="return confirm('¿Seguro que querés eliminar este héroe?')">Eliminar</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
